<section id="profile">
  <div class="section__text">
    <!-- Title slides in from the right -->
    <h1 class="title" @slideInRight>Christoforos Lapathiotis</h1>

    <!-- Subtitle slides in from the left -->
    <p class="section__text_p2" @slideInLeft>DevOps / FullStack Engineer</p>

    <!-- Buttons slide in from the bottom -->
    <div id="socials-container">
      <button class="btn btn-color-1" @slideInUp onclick="window.open('assets/images/Resume.pdf')">See my CV</button>
      <a href="#contact" class="btn btn-color-2" @slideInUp>Contact Me</a>
    </div>
  </div>
  <div class="scroll-indicator">
    <img src="/assets/images/arrow.png" alt="Arrow Icon" class="icon arrow" onclick="location.href='./#about' ">
  </div>
</section>