<footer class="app-footer">
  <div class="footer__content" [@fadeInUp]="isVisible" (isVisible)="onVisibilityChange($event)" appIntersectionObserver>
    <div class="footer__social-icons">
      <a href="https://www.linkedin.com/in/christoforos-lapathiotis-451b2a179/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="mailto:clapathiotis@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
      <a href="https://github.com/clapathiotis" target="_blank"><i class="fab fa-github"></i></a>
    </div>
    <p>&copy; 2025 Christoforos Lapathiotis</p>
  </div>
</footer>