#projects {
  padding: 4rem 2rem;
  text-align: center;

  .projects__container {
    max-width: 1200px;
    margin: 0 auto;
    
  }

  .projects__title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #333;
  }

  .projects__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }

  .project__card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    }

    .project__image {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 8px;
      margin-bottom: 1rem;
    }

    .project__title {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
      color: #131010;
    }

    .project__description {
      font-size: 1rem;
      color: #3c3737;
      margin-bottom: 1rem;
    }

    .project__button {
      padding: 0.8rem 1.5rem;
      font-size: 1rem;
      font-weight: bold;
      color: #fff;
      background-color: #007bff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}