<section id="about-me">
    <div class="about-me__title-container">
      <h2 class="about-me__title">About Me</h2>
    </div>
    <div class="about-me__container">
      <div class="about-me__image">
        <img src="/assets/images/pp.jpg" alt="Profile Picture" />
      </div>
      <div class="about-me__text">
        <p>
          A passion-driven, highly focused Software Engineer who possesses a sound knowledge of modern systems software design, development, operation, and maintenance. Organized, methodical, and detail-oriented, I deliver solid and trustworthy software programs.
        </p>
        <p>
          Understanding client requirements and communicating project progress are core values in achieving long-lasting business relationships. I am eager to work on Artificial Intelligence projects and Web Applications across all layers. Additionally, I have solid experience in native and hybrid mobile application development.
        </p>
      </div>
    </div>
  
    <!-- Experience Section -->
    <div class="experience__section">
      <div class="experience__card">
        <div class="experience__icon">
          <i class="fas fa-award"></i> <!-- Font Awesome Icon -->
        </div>
        <h3 class="experience__title">Experience</h3>
        <p class="experience__description">~2 Years<br />DevOps Engineer</p>
      </div>
      <div class="experience__card">
        <div class="experience__icon">
          <i class="fas fa-user-graduate"></i> <!-- Font Awesome Icon -->
        </div>
        <h3 class="experience__title">Education</h3>
        <p class="experience__description">
          BSc Computer Science & Engineering<br />
          Technische Universiteit Eindhoven
        </p>
      </div>
    </div>
  </section>